/* Base Application Styles */
body {
  font-family: monospace;
  color: white;
  background: black;
}

.slider,.selector {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.slider label, .selector label {
  display: block;
}

.slider input {
  width: 80px;
}

.timeline {
  display: block;
  margin: 5px;
}
