/* Base Application Styles */
body {
  font-family: monospace;
  color: white;
  background-image: url('../images/wood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: brown;
}

.slider,.selector {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.slider label, .selector label {
  display: block;
}

.slider input {
  width: 80px;
}

.timeline {
  display: block;
  margin: 5px;
}

.led-red {
  display: inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}
