/* Base Application Styles */
body {
  font-family: monospace;
  color: white;
  background-image: url('../images/wood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slider,.selector {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.slider label, .selector label {
  display: block;
}

.slider input {
  width: 80px;
}

.timeline {
  display: block;
  margin: 5px;
}

.ignore {
  display: none;
}

.topLeft {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 50%;
  height: 50%;
}

.bottomLeft {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 50%;
  height: 50%;
}

.right {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
}

.cassetteDeck {
  text-align: center;
  line-height: 0px;
}

.cassetteButtonHolder {
  display: flex;
  height: 50px;
  margin: 0px auto;
  padding: 1px;
  background: black;
}

.cassetteButton {
  flex-basis: 100%;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
